#include <zephyr/dt-bindings/input/input-event-codes.h>

&adc {
    status = "okay";
};

/ {
    // Энкодер EC11
    encoders {
        compatible = "zmk,encoders";
        sensors = <&enc>;
    };

    enc: encoder_0 {
        compatible = "alps,ec11";
        label = "ENCODER";
        a-gpios = <&gpio0 17 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;  // P0.17 (D2)
        b-gpios = <&gpio0 20 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;  // P0.20 (D3)
        resolution = <4>;  // Шаги на оборот
    };

    // Кнопка энкодера
    sw_enc: gpio_key_enc {
        compatible = "gpio-keys";
        keys = <&enc_sw>;
    };
    enc_sw: enc_sw_pin {
        gpios = <&gpio0 22 GPIO_ACTIVE_LOW>;  // P0.22 (D4)
    };

    // Аналоговый джойстик
    analog_joystick: analog_input_0 {
        compatible = "zmk,analog-input";
        sampling-hz = <100>;
        x-ch {
            io-channels = <&adc 0>;  // P0.02 (AIN0/D19)
            mv-mid = <1650>;  // Калибруйте мультиметром (центр ~1.65V)
            mv-min-max = <3300>;  // Полный диапазон 0-3.3V
            mv-deadzone = <100>;  // Адаптируйте
            scale-multiplier = <1>;
            scale-divisor = <26>;  // Для -127..127
            invert;  // Если ось перевёрнута
            evt-type = <INPUT_EV_ABS>;
            input-code = <INPUT_ABS_X>;
            report-on-change-only;
        };
        y-ch {
            io-channels = <&adc 5>;  // P0.29 (AIN5/D21) вместо AIN1
            mv-mid = <1650>;
            mv-min-max = <3300>;
            mv-deadzone = <100>;
            scale-multiplier = <1>;
            scale-divisor = <26>;
            invert;
            evt-type = <INPUT_EV_ABS>;
            input-code = <INPUT_ABS_Y>;
            report-on-change-only;
        };
    };

    // Кнопка джойстика
    sw_joy: gpio_key_joy {
        compatible = "gpio-keys";
        keys = <&joy_sw>;
    };
    joy_sw: joy_sw_pin {
        gpios = <&gpio0 24 GPIO_ACTIVE_LOW>;  // P0.24 (D5)
    };
};